*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


/* main content */

.page {
  display: flex;
  justify-content: center;
  align-items: center;

  inline-size: 1200px;
  min-height: 100vh;
  margin: auto;

  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;

  background-color: #1b1919;
  block-size: 100%;
}


.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}


/* card list right-column*/

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  height: 298px;
  overflow-y: auto;

  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 3px;
}

.content__list-item {
  padding: 0 3px;
}




.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;

  object-fit: cover;
  object-position: center;
}


/* card focus */

.content__card-link {
  display: block;

  color: #fff;
  text-decoration: none;
  cursor: pointer;

  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}


.content__card-link_current {
  background-color: grey;
}


.content__card-link:active {
  background-color: grey;
}


.content__card-link:hover {
  text-decoration: underline;
}


.content__card-link:focus {
  outline: none;
}


.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}


/*    card title */

.content__video-card-title {
  font-family: Oswald;
  max-width: 196px;
  overflow: hidden;

  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;

  text-overflow: ellipsis;
  white-space: nowrap;
}

/* card description */

.content__video-card-description-container {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;


  flex-grow: 1;
  max-width: 196px;

  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
}






/* video left-column */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 13px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* search-form */

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  border: none
}


.search-form__fieldset-title {
  font-family: Oswald;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 4px;
}




.title {
  font-family: Oswald;
  max-width: 259px;
  margin-left: 3px;

  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 0px;
  margin: 0px;

  width: fit-content;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}



.search-form__textfield {


  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  background-color: #1b1919;
  appearance: none;

  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #fff;

  padding: 2.5px 14px 2.5px 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}



.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus {
  outline: none;
}


/* check-box */


.search-form__pseudo-checkbox {
  display: block;

  width: 19px;
  height: 19px;

  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 1px;
}


.search-form__pseudo-checkbox::after {
  content: "";
  display: block;

  width: 100%;
  height: 100%;

  background-color: #fff;
  opacity: 0;
}


.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}


.search-form__checkbox-list .search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}


.search-form__checkbox:focus {
  outline: none;
}


.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}


.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}





/*   buttons */

.button {
  display: block;

  border: 1px solid #fff;
  background-color: transparent;

  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;

  cursor: pointer;
}


.search-form__submit-button {
  width: 194px;
  height: 34px;

  align-self: flex-end;
}


.more-button {
  width: 390px;
  height: 34px;
}



.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: gray;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}



.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);

  white-space: nowrap;
}